/* start Home styling */

.home-body {
    margin: 0;
    padding: 0;
    background-image: url('../images/operation.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Acme', sans-serif;
}

.register-body {
    margin: 0;
    padding: 0;
    background-image: url('../images/doctor-tools.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Acme', sans-serif;
}

.content-body {
    font-family: 'Acme', sans-serif;
    background: linear-gradient(90deg, rgba(163,255,248,1) 0%,rgba(235,251,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 60%, rgba(235,251,255,1) 100%, rgba(163,255,248,1) 100%);
}

.home {
    height: 100vh;
    margin: auto;
}

.overlay {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background: rgba(0, 0, 0, 0.8);
}
.login-page-overlay {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background: rgba(0, 0, 0, 0.2);
}
.form-overlay {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.8);
    padding: 3%;
    border: 1px solid white;
    border-radius: 10px;
}
.home-content {
    padding-top: 15%;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.home-content h2 {
    font-family: 'Lobster Two', cursive;
    text-shadow: 0 0 15px #FF0000;
}

.control-label {
    text-align: right;
}
a{
    text-decoration: none;
}

.alert {
    margin: 0% 4% 0% 4%;
}

.img-circle{
    height: 120px;
    width: 100px;
}